body {
	font-family: 'Quicksand';
	font-size: 14px;	
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px #000;
}

h1, h2 {
	font-size: 2em;
}

hr {
	width: 50vh;
}

.conatiner {
	background: #FF5733;
	height: 100vh;
	margin-top: -2vh;
	padding: 2vmax;
	display: flex;
	color: #fff;
	flex-direction: column;
}

.skillContainer {
	background: #F0F3F4;
	padding: 2vmax;
	display: flex;
	color: #000;
}

.skillContainer h1 {
	font-size: 5em;
	margin: 0 auto;
	height: 100vh;
	text-decoration: underline;
}

.content	{
	margin: 0 auto;
	text-align: center;
	line-height: 0.7;
}

.introContent {
	display: flex;
	flex-direction: row;
	padding: 2vw;
	padding-top: 0;
	font-size: 2em;
}

.introContent p {
	margin-top: 2vh;
	padding: 0 4vw 4vw 1vw;
	font-weight: 500;
}

.my-image {
	width: 20vw;
	height: 20vh;
}

/*media queries for responsivness*/

@media screen and (max-width: 418px) {
	body {
		text-shadow: none;
	}

	.conatiner {
		height: 70vh;
	}

	h1, h2 {
		font-size: 1em;
	}

	.introContent {
		font-size: 1em;
		flex-direction: column-reverse;
	}
	
	.intoContent .image{
		order: -1;
	}

	.my-image {
		width: 90vw;
		height: 30vh;
	}

	.introContent p {
		margin: 0;
		padding: 0;
	}

	.skillContainer h1 {
		font-size: 3em;
	}
}

@media screen and (min-width: 418px) and (max-width: 900px ) {
	body {
		text-shadow: none;
	}

	.conatiner {
		height: 70vh;
	}

	h1, h2 {
		font-size: 1em;
	}

	.introContent {
		font-size: 1em;
		flex-direction: column-reverse;
	}
	
	.intoContent .image{
		order: -1;
	}

	.my-image {
		width: 40vw;
		height: 30vh;
		margin-left: 28vw;
	}

	.introContent p {
		margin: 0;
		padding: 0;
	}

}