body {
	font-family: 'Quicksand';
	font-size: 14px;	
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px #000;
}

/* Intro container css */
h1, h2 {
	font-size: 2em;
}

hr {
	width: 25vw;
}

.conatiner {
	background: transparent url(../images/image_big.png) no-repeat center center;
	/*background: #FF5733;*/
	min-height: 70vh;
	margin-top: -2vh;
	padding: 2vmax;
	display: flex;
	color: #fff;
	flex-direction: column;
}

.content	{
	margin: 0 auto;
	text-align: center;
	line-height: 0.7;
}

.introContent {
	display: flex;
	flex-direction: row;
	padding: 2vw;
	padding-top: 0;
	font-size: 2em;
	width: 60%;
}

.introContent p {
	margin-top: 2vh;
	padding: 0 4vw 4vw 1vw;
	font-weight: 500;
}

.my-image {
	width: 20vw;
	height: 20vh;
}

/* Intro container css ends*/

/* CSS for skill container */
.skillContainer {
	background: #F0F3F4;
	padding: 2vmax;
	display: flex;
	flex-direction: column;
	color: #000;
	min-height: 45vh;
}

.skillContainer h1 {
	font-size: 5em;
	margin: 0 auto;
	text-decoration: underline;
}

.skillContainer ul {
	font-size: 3em;
	list-style: none;
}

.subContainer {
	display: flex;
	flex-direction: row;
}

.toLearn {
	padding-left: 3vw;
	font-size: 2em
}

.skillStrngth {
	width: 50%;
}

.skills-list li {
	margin-bottom: 18px;
}

.commonCosmetic {
	height: 2vh;
  background: #5D6D7E;
  margin-top: -2vh;
}

#displayHTMLStrength {
  width: 70%;
}

#displayCSSStrength {
  width: 50%;
}

#displayBootstrapStrength {
  width: 70%;
}

#displayJSStrength {
  width: 80%;
}

#displayNodeJSStrength {
	width: 50%;
}

#separator {
	width: 70vw;
}

.toLnM {
	margin-bottom: 0;
}

.wishList {
	margin-top: 0;
	font-size: 0.8em;
}

#displayAStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 60%;
  margin-top: -2vh;
}

#displayVCSStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 60%;
  margin-top: -2vh;
}

.mt-4vh {
	margin-top: 4vh;
}

.strengthIndicator {
	height: 2vh;
	background: #CFD4D6;
	width: 90%;
}

#strengthRange {
	display: block;
}

#strengthN {
	display: none;
}

.smallFont {
	font-size: 14px;
	text-align: right;
	margin-top: 0vh;
}

/* skill container css end */

/* css for professional experience section*/

.professionalExprnc {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	background: #1B2631;
	color: #fff;
	padding: 3em;
}

.professionalExprnc h1 {
	font-size: 5em;
	margin: 0 auto;
	text-decoration: underline;
}

.professionalExprnc h3 {
	font-size: 2.5em;
	margin-bottom: 0;
}

.companyDetails {
	font-size: 2.3em;
	margin-bottom: 0;
	display: inline-block;
	margin-top: 1vh;
	text-decoration: underline;
}

.position {
	font-size: 2.1em;
	margin-top: 0;
	margin-bottom: 1vh;
	text-decoration: underline;
}

.role {
	font-size: 1.8em;
	margin-top: 0;
}

.duration {
	font-size: 1.5em;
	text-decoration: none;
	margin-bottom: 0;
}

.cmpny {
	display: flex;
	flex-direction: row;
}

.cd {
	width: 50%;
}

/* CSS for porfolio */
.portfolio {
	display: flex;
	flex-direction: column;
	min-height: 50vh;
	color: #fff;
	padding: 3em;
	background: #FF5733;
}

.portfolio h1 {
	font-size: 3em;
	text-decoration: underline;
	margin-bottom: 0;
}

.portfolio ul {
	font-size: 2em;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}


/*media queries for responsivness*/

/* 1 (min-width: 860px) to 
	(max-width: 890px)*/
@media screen and 
	(min-width: 860px) and 
	(max-width: 890px) {
		.conatiner {
			background: transparent url(../images/medium.png) no-repeat center center;
		}
		
		.skillContainer ul {
			font-size: 3em;
		}

		#strengthRange {
			display: block;
		}

		#strengthN {
			display: none;
		}
}

/* 2. (min-width: 418px) to 
	(max-width: 900px )*/
@media screen and 
	(min-width: 418px) and 
	(max-width: 900px ) {
		.conatiner {
			background: transparent url(../images/medium.png) no-repeat center center;
			height: 70vh;
		}

		h1, h2 {
			font-size: 1.8em;
		}
		
		hr {
			width: 40vw;
		}

		.introContent {
			font-size: 1.3em;
			width: 44%;
			flex-direction: column-reverse;
		}
		
		.intoContent .image{
			order: -1;
		}

		.my-image {
			width: 90vw;
			height: 30vh;
			margin-left: 0;
		}

		.introContent p {
			margin: 0;
			padding: 0;
		}

		.skillContainer h1 {
			font-size: 3em;
		}

		#strengthRange {
			display: none;
		}

		#strengthN {
			display: block;
			text-align: center;
		}
		
		.skillStrngth ul li {
			padding-bottom: 1vh;
		}

		.skillContainer ul {
			font-size: 1.5em;
		}
		
		.toLnM {
			font-size: 0.9em;
		}

		.professionalExprnc h1 {
			font-size: 2.3em;
		}
		
		.portfolio {
			padding-top: 1em;
		}

		.portfolio h1 {
			font-size: 2.3em;
		}

		.portfolio ul {
			margin-left: -0.5em;
		}
}

/* 3. (min-width: 320px) to 
	(max-width: 418px)*/
@media screen and 
	(min-width: 320px) and 
	(max-width: 418px) {
		.conatiner {
			background: transparent url(../images/image_small.png) no-repeat center center;
			height: 70vh;
		}

		h1, h2 {
			font-size: 1.7em;
		}
		
		hr {
			width: 90vw;
		}

		.introContent {
			font-size: 1.1em;
			flex-direction: column-reverse;
			width: 100%;
		}
		
		.intoContent .image{
			order: -1;
		}

		
		.introContent p {
			margin: 0;
			padding: 0;
			font-weight: 900;
		}
		
		.skillContainer h1 {
			font-size: 3em;
		}

		#strengthRange {
			display: none;
		}

		#strengthN {
			display: block;
			text-align: center;
		}

		.skillContainer ul {
			font-size: 1.5em;
		}
		
		.wishList {
			font-size: 0.6em;
		}

		.toLnM {
			font-size: 0.8em;
		};
		
		.professionalExprnc {
			padding: 2.5em;
		}

		.professionalExprnc h1 {
			font-size: 2em;
		}

		.professionalExprnc h3 {
			font-size: 1.8em;
		}

		.companyDetails {
			font-size: 1.7em;
		}
		
		.position {
			font-size: 1.6em;
		}

		.role {
			font-size: 1.4em;
		}

		.duration {
			font-size: 1.1em;
		}
		
		.portfolio {
			padding-top: 1em;
		}

		.portfolio h1 {
			font-size: 1.5em;
		}

		.portfolio ul {
			font-size: 1.7em;
			margin-left: -0.8em;
		}
}

/* landscape media query */
@media screen and (max-width: 823px) and (orientation :landscape) {
	.conatiner {
		background: transparent url(../images/medium.png) no-repeat center center;
		min-height: 100vh;
	}

	h1, h2 {
		font-size: 1.3em;
		margin-bottom: 1vh;
	}
	
	hr {
		width: 70vw;
	}

	.introContent {
		font-size: 1.2em;
		width: 100%;
	}
	
	.introContent p {
		font-weight: 900;
	}

	.companyDetails {
		font-size: 2em;
	}
	
	.toLnM {
		font-size: 0.9em;
	};

	.duration {
		font-size: 1.2em;
		margin-bottom: 0;
	}

	.position {
		font-size: 1.8em;
	}

	.role {
		font-size: 1.5em;
	}
}

@media screen and 
	(min-width: 320px) and 
	(max-width: 320px) {
		.introContent {
			font-size: 0.9em;
		}
	}
