body {
	font-family: 'Quicksand';
	font-size: 14px;	
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px #000;
}

/* Intro container css */
h1, h2 {
	font-size: 2em;
}

hr {
	width: 50vh;
}

.conatiner {
	background: transparent url(../images/image_big.png) no-repeat center center;
	/*background: #FF5733;*/
	min-height: 70vh;
	margin-top: -2vh;
	padding: 2vmax;
	display: flex;
	color: #fff;
	flex-direction: column;
}

.content	{
	margin: 0 auto;
	text-align: center;
	line-height: 0.7;
}

.introContent {
	display: flex;
	flex-direction: row;
	padding: 2vw;
	padding-top: 0;
	font-size: 2em;
}

.introContent p {
	margin-top: 2vh;
	padding: 0 4vw 4vw 1vw;
	font-weight: 500;
}

.my-image {
	width: 20vw;
	height: 20vh;
}

/* Intro container css ends*/

/* CSS for skill container */
.skillContainer {
	background: #F0F3F4;
	padding: 2vmax;
	display: flex;
	flex-direction: column;
	color: #000;
	min-height: 45vh;
}

.skillContainer h1 {
	font-size: 5em;
	margin: 0 auto;
	text-decoration: underline;
}

.skillContainer ul {
	font-size: 3em;
	list-style: none;
}

.subContainer {
	display: flex;
	flex-direction: row;
}

.skillStrngth {
	width: 50%;
}

#displayHTMLStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 70%;
  margin-top: -2vh;
}

#displayCSSStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 50%;
  margin-top: -2vh;
}

#displayBootstrapStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 70%;
  margin-top: -2vh;
}

#displayJSStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 80%;
  margin-top: -2vh;
}

#displayAStrength {
	height: 2vh;
  background: #5D6D7E;
  width: 60%;
  margin-top: -2vh;
}

.mt-4vh {
	margin-top: 4vh;
}

.strengthIndicator {
	height: 2vh;
	background: #CFD4D6;
	width: 90%;
}

#strengthRange {
	display: block;
}

#strengthN {
	display: none;
}

.smallFont {
	font-size: 14px;
	text-align: right;
	margin-top: -2vh;
}

/* skill container css end */

/* css for professional experience section*/

.professionalExprnc {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #1B2631;
	color: #fff;
	padding: 3em;
}

.professionalExprnc h1 {
	font-size: 5em;
	margin: 0 auto;
	text-decoration: underline;
}

.professionalExprnc h3 {
	font-size: 2.5em;
	margin-bottom: 0;
}

.companyDetails {
	font-size: 2.3em;
	margin-bottom: 0;
	display: inline-block;
	margin-top: 1vh;
	text-decoration: underline;
}

.position {
	font-size: 2.1em;
	margin-top: 0;
	margin-bottom: 1vh;
	text-decoration: underline;
}

.role {
	font-size: 1.8em;
	margin-top: 0;
}

.duration {
	font-size: 1.5em;
	text-decoration: none;
	margin-bottom: 0;
}

.cmpny {
	display: flex;
	flex-direction: row;
}

.cd {
	width: 50%;
}

/*media queries for responsivness*/

/* 1 (min-width: 860px) to 
	(max-width: 890px)*/
@media screen and 
	(min-width: 860px) and 
	(max-width: 890px) {
		.conatiner {
			background: transparent url(../images/medium.png) no-repeat center center;
		}
		
		.skillContainer ul {
			font-size: 3em;
		}

		#strengthRange {
			display: block;
		}

		#strengthN {
			display: none;
		}
}

/* 2. (min-width: 418px) to 
	(max-width: 900px )*/
@media screen and 
	(min-width: 418px) and 
	(max-width: 900px ) {
		.conatiner {
			background: transparent url(../images/medium.png) no-repeat center center;
			height: 70vh;
		}

		h1, h2 {
			font-size: 1.8em;
		}

		.introContent {
			font-size: 1.3em;
			flex-direction: column-reverse;
		}
		
		.intoContent .image{
			order: -1;
		}

		.my-image {
			width: 90vw;
			height: 30vh;
			margin-left: 0;
		}

		.introContent p {
			margin: 0;
			padding: 0;
		}

		.skillContainer h1 {
			font-size: 3em;
		}

		#strengthRange {
			display: none;
		}

		#strengthN {
			display: block;
			text-align: center;
		}
		
		.skillStrngth ul li {
			padding-bottom: 1vh;
		}

		.skillContainer ul {
			font-size: 1.5em;
		}

		.professionalExprnc h1 {
			font-size: 2.3em;
		}
}

/* 3. (min-width: 320px) to 
	(max-width: 418px)*/
@media screen and 
	(min-width: 320px) and 
	(max-width: 418px) {
		.conatiner {
			background: transparent url(../images/image_small.png) no-repeat center center;
			height: 70vh;
		}

		h1, h2 {
			font-size: 1.7em;
		}

		.introContent {
			font-size: 1.1em;
			flex-direction: column-reverse;
		}
		
		.intoContent .image{
			order: -1;
		}

		
		.introContent p {
			margin: 0;
			padding: 0;
		}
		
		.skillContainer h1 {
			font-size: 3em;
		}

		#strengthRange {
			display: none;
		}

		#strengthN {
			display: block;
			text-align: center;
		}

		.skillContainer ul {
			font-size: 1.5em;
		}
		
		.professionalExprnc {
			padding: 2.5em;
		}

		.professionalExprnc h1 {
			font-size: 2em;
		}

		.professionalExprnc h3 {
			font-size: 1.8em;
		}

		.companyDetails {
			font-size: 1.7em;
		}
		
		.position {
			font-size: 1.6em;
		}

		.role {
			font-size: 1.4em;
		}

		.duration {
			font-size: 1.1em;
		}
}

/* landscape media query */
@media screen and (max-width: 823px) and (orientation :landscape) {
	.conatiner {
		background: transparent url(../images/image_big.png) no-repeat center center;
		min-height: 100vh;
	}

	h1, h2 {
		font-size: 1.3em;
		margin-bottom: 1vh;
	}

	.introContent {
		font-size: 1.2em;
	}

	.companyDetails {
		font-size: 2em;
	}

	.duration {
		font-size: 1.2em;
		margin-bottom: 0;
	}

	.position {
		font-size: 1.8em;
	}

	.role {
		font-size: 1.5em;
	}
}

